
/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}

h1 {
  font-size: 2em;
  margin-top: 2%;
  text-align: center;

}

.row {
  margin-top: 5%;
}

section > div{
    background-color: gray;
    border: 3px solid black;
    margin: 10px;
    padding: 0;
}

.title {
    float right;
    margin-left: auto;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    font-size: 1.25em;
    text-align: center;
    padding: 0% 5%;
    width: 150px;
}
p {
    margin: 5px;
    /*clear: both;*/
}
#chicken > div .title {
    background-color: pink;
}

#beef > div .title {
    background-color: brown;
    color:white;
}

#sushi > div .title {
    background-color: khaki;
}

/********** Large devices only **********/
@media (min-width: 992px){
    section {
        width: 33%;
        float: left;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px){
    section {
        width: 50%;
        float: left;
    }
    #sushi {
        width: 100%;
        float:left;
    }
}
